*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: 'Poppins',sans-serif;
}
body{
  background: rgb(30, 30, 30);
  color: white;
  overflow: hidden;
  overflow-y:scroll ;
}
.title{
  font-size: 2rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}
.Container{
  overflow: hidden;
  width:100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
.input{
  background-color: white;
  border: 1px solid green;
  width: 100%;
}
.formBox{
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}
.input{
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius:0.5rem;
  background: rgb(52, 49, 49);
  border: 1px solid rgb(198, 182, 91);
  color: white;
  font-size: 1rem;
}
.desc{
  font-weight: 400;
  font-size:1.5rem;
  max-width: 51rem;
  padding: 0 2rem ;
}
.input1{
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius:0.5rem;
  background: rgb(52, 49, 49);
  border: 1px solid rgb(198, 182, 91);
  color: white;
  font-size: 1rem;
  height: 5rem;
  width: 100%;
}
.btn{
  display: inline-block;
  padding: 8px 15px;
  background-color: #42ca7f;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size:2rem;
  border-radius: 4px;
  transition: background-color 0.3s;
  
}